:root {
    --main-color--: rgb(156, 164, 173);
    --second-color--: rgb(30, 151, 145);
    --hover-color--: rgb(138, 138, 167);
    --main-font-color--: rgb(22, 21, 21);
    --font-family:  "Roboto", sans-serif;
}

* {
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}
header{
    font-family: var(--font-family);
}
#course-title{
    background-color: var(--main-color--);
    color: var(--main-font-color--);
    text-align: center;
    height: 40px;
    align-self: baseline;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 10px;
}

.navigation{
    display: flex;
    background-color: var(--second-color--);
    justify-content: space-between;
    height: 30px;
}

.menu-item{
    color: var(--main-font-color--);
    text-decoration: none;
}

.navigation a:hover{
    color: var(--hover-color--);
}


/* image section */
.profile{
    width: 40%;
    height: 90%;
    max-width: 200px;
    border: 2px solid var(--second-color--);
    border-radius: 10px;
    padding: 4px;
}

.mycountry-image{
    width: 100%;
    height: auto;
    max-width: 200px;
    border-radius: 8px;
}

/* grid main  */
main{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;
    width: 100%;
    height: auto;
    gap: 10px;
}

/* header */
.name{
    color: var(--main-font-color--);
    text-align: center;
    padding: 20px 0px;
    grid-column: 1 / 3;
}

/* ---------------- */

/* grid section part */

.card1{
    grid-column: 1/2;
    grid-row: 2 / 3;
    border: 2px solid var(--second-color--);
    width: 740px;
    border-radius: 10px;
    height: 470px;

}

.card2{
    grid-row: 2/3;
    grid-column: 2/3;
    border: 2px solid var(--second-color--);
    width: 300px;
    border-radius: 10px;
    height: 470px;
    margin-right: 250px;

}
/* -------------------------- */

/* inside of cards */

h2{
    background-color: var(--second-color--);
    font-family: var(--font-family);
    text-align: center;
    padding: 5px 0px;
}

.card1-child{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.myself-text{
    grid-column: 1/2;
    padding: 3px;
    width: 95%;
}

.card2-child{
    display: grid;
    grid-template-columns: .50fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
    align-items: center;
}

.country-heading{
    grid-column: 1/-1;
    border-bottom: 2px solid var(--main-color--);
    width: 70%;
    text-align: center;
}

.country-image-container{
    grid-row: 2/3;
    grid-column: 1/2;
    width: 150px;
    border: 2px solid var(--second-color--);
    border-radius: 10px;
    padding: 3px;
}
.country-text{
    grid-row: 2/3;
    grid-column: 2/3;
    width: 70%;
    font-family: var(--font-family);
    font-size: 15px;
    padding: 4px;
}

/* inside card 2 */
.ref-link{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 90%;
    align-items: center;
}

a{
    text-decoration: none;
    color: var(--main-font-color--);
    font-family: var(--font-family);
}

a:hover{
    background-color: var(--main-color--);
}




/* footer */

footer{
    margin-top: 20px;
    background-color: var(--second-color--);
    height: 60px;
    font-family: var(--font-family);
    text-align: center;
    padding-top: 15px;
}