:root{
    ---main-color---: rgb(23, 158, 129) ;
    ---secondery-color--- : rgba(162, 160, 163, 0.76);
    ---font-color---: rgb(26, 11, 11) ;
    ---font-family---: 'Roboto', sans-serif;
}

body{
    font-family: var(---font-family---);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(---secondery-color---);
}

header{
    background-color: var(---main-color---);
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1{
    margin-bottom: 1rem;
}

#menu{
    font-size: 2rem;
    background-color: var(---main-color---);
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1 rem;
}

#menu::before{
    content: "☰";
}

#menu.open::before{
    content: "❌";
}

/* Navigation Menu */

nav{
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

nav.open{
    display: flex;
}

nav a{
    color: white;
    padding: 0.75rem;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

nav a:hover, nav a.active{
    background-color: rgb(65, 144, 212);
}

/* Main content and Grid */
.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

figure{
    background-color: var(---secondery-color---);
    margin: 0;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0,1);
}

figure img{
    width: 100%;
    height: auto;
    display: block;
}

figcaption{
    padding: 0.5rem 0;
    font-size: 0.9rem;
    color: #333;
}

/* Footer */

footer{
    background-color: #2e0854;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.85rem;
    margin-top: 2rem;
}

/* Large screens layout(width >= 600px) */
@media screen and (min-width: 600px) {
    header{
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    }

    header h1 {
        margin: 0;
    }

    #menu{
        display: none;
    }

    nav{
        display: flex !important;
        flex-direction: row;
        width: auto;
    }

    nav a {
        padding: 0.5rem 1rem;
    }
    /* Grid layout */

    .grid-container{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
